<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>QR-codes-gen</title>
    <link rel="stylesheet" href="webapp/index.css">
</head>
<body>
<div class="shop-card">
  <div class="title">
    <h1>Страница для генерации кодов</h1>
  </div>
  <div class="desc">
    Нажимаем на кнопку и все работает
  </div>
  <div class="slider">
    <figure data-color="#E24938, #A30F22">
      <img src="http://www.supah.it/dribbble/012/1.jpg" />

    </figure>
  </div>

  <div class="cta">
    <form action="/" method="POST">
        <button type="submit">Сгенерировать QR код</button>
    </form>
  </div>
</div>
<div class="bg"></div>
    <div class="generated">
        <img src="{{data}}" alt="">
    </div>
</body>
</html>
<style>
    .generated {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .main {
    width: 225px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
    }
</style>


